{% extends 'base.html' %}
{% block content %}
<div class="col-12">
    <div class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2 w-7 border border-3 border-dark-subtle" style="margin-top: 20px; margin-left: 33%; width: 35%; margin-bottom: 7%;">
        <form method="post" enctype="multipart/form-data" action="" style="width: 100%">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Зарегистрироваться
                    </button>
    </form>
</div>
</div>
{% endblock %}