{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Каталог{% endblock %}
{% block content %}
<div class="col">
      <div class="container" style="margin-top: 30px; margin-bottom: 100px;">
        {% for product in page_obj %}
          <div class="pos">
        <div class="col">
            <div class="card h-100" style="margin: 30px; margin-top: 0px; width: 400px;">
                <div class="card-header center" style="background: Gainsboro;">
                    <a href="{% url 'catalog:product' product.pk %}"><img src="{{ product.image|media_filter }}" class="card-img-top img img-podsvetka" alt="..."></a>
                    <h5>{{ product.name }}</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title center textp">₽{{ product.price|floatformat:2 }}</h1>
                    <p class="card-text center mt-3">{{ product.description|truncatechars:100 }}</p>
                </div>
                <button type="button" class="btn btn-outline bordp podsvetkap" style="margin: 10px;">Купить</button>
            </div>
        </div>
              </div>
        {% endfor %}
          {% include 'includes/pagination.html' %}
    </div>
            </div>
{% endblock %}