{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
            <div class="container">
                <div class="col-12">
                <table class="table caption-top" style="margin-left: 50px; margin-top: 60px;">
                  <caption><h1>Контакты</h1></caption>
                  <tbody>
                    <tr>
                      <td><h3>Телефон</h3></td>
                      <td><h3 class="textp">{{ telephone }}</h3></td>
                    </tr>
                    <tr>
                      <td><h3>Адрес</h3></td>
                      <td><h3 class="textp">{{ address }}</h3></td>
                    </tr>
                    <tr>
                      <td><h3>Веб-сайт</h3></td>
                      <td><h3 class="textp">{{ website }}</h3></td>
                    </tr>
                  </tbody>
                </table>
            </div>
                    <div class="col-5">
                      <div class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2 w-7 border border-3 border-dark-subtle" style="margin-top: 20px; margin-left: 300px; margin-bottom: 30px;">
                      <form method="post" action="">
                          {% csrf_token %}
                          <legend class="center">Свяжитесь с нами</legend>
                        <div class="mb-3">
                          <label for="name" class="form-label textp">Имя</label>
                          <input type="text" class="form-control border border-2 border-dark-subtle" aria-label="Username" id="name" name="name" aria-describedby="addon-wrapping" style="width: 450px;" required>
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label textp">Почта</label>
                          <input type="email" class="form-control border border-2 border-dark-subtle" id="email" name="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                          <label for="message" class="form-label textp">Сообщение</label>
                          <textarea class="form-control border border-2 border-dark-subtle" id="message" name="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn bordp podsvetkap textp btn-lg">Отправить</button>
                      </form>
                        </div>
                    </div>
                </div>
            <div style="position:absolut;overflow:hidden;"><a href="https://yandex.ru/maps/66/omsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;"></a><a href="https://yandex.ru/maps/66/omsk/?ll=73.381188%2C54.972005&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=73.379471%2C54.971571&whatshere%5Bzoom%5D=13&z=13" style="color:#eee;font-size:12px;position:absolute;top:14px;"></a><iframe src="https://yandex.ru/map-widget/v1/?ll=73.381188%2C54.972005&mode=whatshere&whatshere%5Bpoint%5D=73.379471%2C54.971571&whatshere%5Bzoom%5D=13&z=13" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:absolut;"></iframe></div>
{% endblock %}