{% extends 'base.html' %}
{% block title %}Подтверждение удаления{% endblock %}
{% load my_tags %}
{% block content %}
<div class="pos">
<div class="col">
    <form method="post" enctype="multipart/form-data">
    <h1 class="center mb-4">Вы действительно хотите удалить этот продукт?</h1>
      <div class="container" style="margin-bottom: 0px;">
        <div class="col">
            <div class="pos">
            <div class="card h-100" style="margin: 30px; margin-top: 0px; width: 300px; margin-left: 115%;">
                <div class="card-header center" style="background: Gainsboro;">
                    <img src="{{ product.image|media_filter }}" class="card-img-top img" alt="...">
                    <h5>{{ product.name }}</h5>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <h5 class="card-title center textp">₽{{ product.price|floatformat:2 }}</h5>
                    <h5 class="card-text center">{{ product.description|truncatechars:100 }}</h5>
                    <h5 class="card-text center">{{ product.created_at|date:"d M Y" }}</h5>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-block" style="margin-left: 36%; margin-top: 0%;">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-outline btn-lg bordp podsvetkap" style="margin: 10px; width: 20%;">Отменить</button></a>
                    <button type="submit" class="btn btn-outline btn-lg bordred podsvetkared" style="margin: 10px; width: 20%;">Удалить</button>
                </div>
    </form>
</div>
</div>
{% endblock %}