<div class="col-12 span fix">
    <div class="zindex">
        <div class="button-group container center-el">
            <a href="{% url 'catalog:home' %}"><button class="button bgcg fs-1 radius-left podsvetkav">Главная</button></a>
            <button class="button bgcg podsvetkav fs-1">Каталог</button>
            <a href="{% url 'catalog:contacts' %}"><button class="button bgcg podsvetkav fs-1 radius-right">Контакты</button></a>
            <a href="{% url 'catalog:add' %}"><button class="button bgcg fs-1 radius-left radius-right podsvetkaviolet" style="margin-left: 10%;">+</button></a>
        </div>
    </div>
</div>